$fontLato: 'Lato',
sans-serif;
$fontMontserrat: 'Montserrat',
sans-serif;
$editorTitleColor: #635C73;
$accentColor: #8D81AC;
$descTextColor: #848E97;
$titleTextColor: #323232;
$youGetBgn: #F4F4F4;
$borderColor: #bdbdbd;
$white: #fff;
$header-bg: #27262A;
$menu-bg: #333333;
$menu-border-color:#3B3B3B;
$header-main-font: 'Montserrat',
sans-serif;
$people-talking-main-color: #FFFFFF;
$people-talking-remark-color:#A291A5;
$people-talking-main-font: 'Lato',
sans-serif;